.footer {
	background-color: $colorMain;
	box-shadow: $colorBoxShadow;
	color: #fefefe;
	padding: 20px;
	font-size: smaller;
	text-align: center;
}

@media print {
	.footer {
		box-shadow: none;
		color: #222;
	}
}
