:root {
	--blue: #069;
	--dark: #222;
	--light: #fff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:focus {
	outline: 1px dashed var(--blue);
	outline-offset: 5px;
}

html {
	scroll-behavior: smooth;
	overflow: hidden;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1rem;
	line-height: 1.6rem;
	overflow: hidden;
	color: var(--dark);
}

aside {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	height: 100vh;
	width: 300px;
	background-color: var(--dark);
	color: var(--light);
}

header {
	text-align: center;
	padding: 40px;
}

header img {
	border-radius: 50%;
	width: 180px;
}

header h1 {
	color: var(--blue);
	margin: 20px 0 10px;
}

header p {
	font-style: italic;
}

nav ul {
	list-style-type: none;
	border: 1px solid var(--light);
}

nav ul li {
	border-bottom: 1px solid var(--light);
	cursor: pointer;
	font-size: small;
	padding: 10px;
	user-select: none;
	-moz-user-select: none;
	width: 180px;
}

nav ul li:focus {
	outline: none;
	font-weight: bold;
}

nav ul li:last-of-type {
	border-bottom: 0;
}

nav ul li.active {
	background-color: var(--blue);
	font-weight: bold;
	outline: none;
}

main {
	display: grid;
	grid-auto-flow: row;
	margin-left: 300px;
}

section {
	height: 100vh;
	padding: 40px;
}

section h3 {
	margin: 20px 0 10px;
}

.section-list {
	list-style-type: none;
}

.section-list li {
	display: grid;
	align-items: center;
	grid-template-columns: 100px auto;
	margin-bottom: 10px;
}

.section-list li:last-of-type {
	margin-bottom: 0;
}

.section-list-period {
	grid-row: span 2;
	opacity: .5;
}

#home {
	display: flex;
	flex-direction: column;
}

#home h2 {
	font-size: 3rem;
	line-height: 3rem;
	margin-bottom: 20px;
}

.welcome {
	justify-self: center;
	font-size: 2rem;
	line-height: 3.2rem;
}

.welcome-name,
.welcome-title {
	color: var(--blue);
	font-size: 2.5rem;
	font-weight: bold;
	display: block;
	letter-spacing: .3rem;
}

section a {
	display: inline;
}

/* Fade in animation */
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.welcome-name,
.welcome-title {
	animation-name: fade-in;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

#menu-toggle {
	display: none;
	position: fixed;
	right: 0;
	top: 0;
	margin: 10px;
	cursor: pointer;
	z-index: 11;
	align-items: center;
	justify-content: center;
	background-color: var(--blue);
	color: var(--light);
	height: 32px;
	width: 32px;
}

@media only screen and (max-width: 800px) {
	body {
		font-size: .85rem;
		line-height: calc(.85rem * 1.6);
	}

	main {
		margin-left: 0;
	}

	section {
		padding: 10px;
	}

	aside {
		left: -100vw;
		width: 100vw;
		z-index: 10;
		transition: .5s;
	}

	aside.shown {
		left: 0;
		box-shadow: 1px 1px 10px var(--dark);
	}

	#home {
		padding-top: 50px;
		align-items: center;
		text-align: center;
	}

	#menu-toggle {
		display: flex;
	}
}
