.visible-on-print {
	display: none;
}

.header {
	background-color: $colorMain;
	box-shadow: $boxShadow;
	color: #fefefe;
	padding: 0 10px;
	display: flex;
	flex-direction: column;

	img {
		box-shadow: 0 0 0 2px $colorAccent;
		transition: all 0.25s ease-in-out;
	}

	h1 {
		font-size: 1.4rem;
		line-height: 100%;
	}

	& > div {
		text-align: center;
		margin: 20px 0;

		& > p {
			margin: 20px 0 30px;
		}
	}

	& > img {
		height: auto;
		width: 150px;
		min-height: 150px;
		border-radius: 50%;
		margin: 20px auto;
		object-fit: cover;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-networks {
		display: inline-grid;
		grid-auto-flow: column;
		grid-gap: 20px;

		img {
			height: auto;
			width: 32px;
			border-radius: 50%;
		}
	}
}

@media screen and (min-width: $breakpointMedium) {
	.header {
		padding: 20px 40px;

		h1 {
			font-size: 2rem;
		}

		& > img {
			width: 200px;
			min-height: 200px;
		}

		&-networks {
			img {
				width: 40px;
			}
		}
	}
}

@media screen and (min-width: $breakpointLarge) {
	.header {
		padding: 40px;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		position: sticky;
		top: 0;

		& > div {
			text-align: left;
		}

		& > img {
			margin-left: 0;
			margin-right: 40px;
		}
	}
}

@media print {
	.visible-on-print {
		display: block;
	}

	.header {
		box-shadow: none;
		color: #222;
		padding: 0 20px;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: flex-start;

		& > div {
			text-align: left;
			margin: 10px 0 0;

			p {
				margin-bottom: 20px;
			}
		}

		& > img {
			width: 150px;
			min-height: 150px;
			margin: 10px 0 0;
			border-radius: 5px;
		}

		&-networks {
			display: none;
		}

		img {
			box-shadow: none;
		}
	}
}
