.header {
	background-color: hsl(240deg, 50%, 10%);
	color: #fefefe;
	padding: 20px;
	display: flex;
	flex-direction: column;

	img {
		box-shadow: 0 0 0 2px hsla(180deg, 100%, 50%, 0.5);
	}

	& > div {
		text-align: center;
		margin: 20px 0;

		& > p {
			margin: 20px 0;
		}
	}

	& > img {
		height: 200px;
		width: 200px;
		border-radius: 50%;
		margin: 0 auto;
		object-fit: cover;
	}

	&-networks {
		display: inline-grid;
		grid-auto-flow: column;
		grid-gap: 20px;

		img {
			height: 40px;
			width: 40px;
			border-radius: 50%;
		}
	}
}

@media screen and (min-width: $breakpointMedium) {
	.header {
		padding: 20px 40px;
	}
}

@media screen and (min-width: $breakpointLarge) {
	.header {
		padding: 40px;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		position: sticky;
		top: 0;

		& > div {
			text-align: left;
		}

		& > img {
			margin-left: 0;
			margin-right: 40px;
		}
	}
}
