$breakpointMedium: 650px;
$breakpointLarge: 900px;

$colorMain: hsl(240deg, 50%, 10%);
$colorAccent: hsla(180deg, 100%, 50%, 0.5);
$colorBoxShadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
	scroll-behavior: smooth;
}

body {
	color: #222;
	font-size: 0.8rem;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

#root {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

@media screen and (min-width: $breakpointMedium) {
	body {
		font-size: 1rem;
	}
}

@import './components/Header/style';
@import './components/Main/style';
@import './components/Footer/style';
